<div class="card dataset-header">
  <div class="card-header"><%= t('.header_dataverse_text') %></div>
  <div class="list-group list-group-flush">
    <span class="list-group-item">
       <strong><%= collection.data.name %></strong>
    </span>
    <span class="list-group-item">
      <%= truncate(strip_tags(collection.data.description), length: 200) %>
    </span>
  </div>
</div>
