<nav aria-label="Breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active">
      <a href="<%= root_path %>">Home</a>
    </li>
    <li class="breadcrumb-item">
      <a aria-current="page">Dataverse</a>
    </li>
    <li class="breadcrumb-item">
      <%= link_to dataverse_url, view_root_dataverse_path(URI.parse(@dataverse_url).hostname, {dv_port: params[:dv_port], dv_scheme: params[:dv_scheme]}) %>
    </li>
    <% if params[:id] != ':root' %>
      <li class="breadcrumb-item">
        <a aria-current="page">Dataverse</a>
      </li>
      <li class="breadcrumb-item">
        <a aria-current="page"><%= @dataverse.data.alias %></a>
      </li>
    <% end %>
  </ol>
</nav>