<div class="list-group-item flex-column align-items-start">
  <div class="d-flex w-100 justify-content-between">
    <h5 class="mb-1">
      <%= link_to_dataverse "#{installation[:name]} - #{installation[:hostname]}", "https://#{installation[:hostname]}", ":root", {target: "_blank", class: "text-decoration-none"} %>
    </h5>
  </div>
</div>